body {
    font-family: "Montserrat", sans-serif;
    background-color: #f2f2f2;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.navbar {
    background-image: url(img/capa-madmax.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    padding-left: 120px;
    padding-right: 120px;
}

.inicio {
    list-style: none;
    padding-top: 5px;
}

.meio {
    display:flex;
    list-style: none;
    padding-top: 0px;
    font-size: 12px;
}

.meio li {
    padding: 30px;
    font-weight: bold;
}

.fim {
    display:flex;
    list-style: none;
    font-size: 13px;
}

.fim li {
    padding: 10px;
    font-weight: bold;
}

.fim img {
    border-radius: 50%;
    width: 50px;
}

#walter {
    padding-top: 25px;
}

.navbar-menu {
    display: flex;
    color:white;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 200px;
    width: 100%;
    justify-content: space-between;
}

.titulo {
    padding-left:40px;
    padding-right: 40px;
}

.titulo h1 {
    color: white;
    font-size: 70px;
    font-weight: bold;
    line-height: 1.2em;
    margin: 0;
}

.titulo ul {
    display: flex;
    list-style: none;
    color: white;
    margin:0;
    flex-direction: row;
    padding:0;
    font-size: 12px;
}

.titulo li {
    padding: 10px;
}

.trailer {
    padding-bottom: 5px;
    display: flex;
    background-color: #e4bb23;
    margin: 40px;
    background-position: right;
    width: 15%;
    border-radius: 35%;
    height: 50px;
}
.trailer ul {
    display: flex;
    list-style: none;
    margin:0;
    flex-direction: row;
    font-size: 13px;
    font-stretch: condensed;
    font-weight: bold;
    vertical-align: center ;
    padding-left: 20px;
    padding-top: 7px;
}

.trailer li {
    padding: 10px;
}

.subtitulo {
    padding-left: 35px;
    margin:0;
    font-size: 10px;
}

.subtitulo h1 {
    color:white;
}

.subtitulo h2 {
    color: #e4bb23;
}

.intermediario ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);

}

.intermediario li {
    padding: 15px;
    font-size: 13px;
    color: #e4bb23;
    font-weight: bold;
}

.intermediario {
    padding-left: 150px;
    padding-right: 150px;
}

.cards {
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 220px;
    margin: 5px;
    background-color: white;
    border-radius: 3%;
  }

.card-header img {
    width: 100%;
    border-radius: 3%;
}

.card-content h1 {
    font-size: 12px;
    font-weight: bold;
}

.card-content h2 {
    font-size: 11px;
    color: #e4bb23;
}

.card-footer ul {
    padding: 0px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}

.card-footer li {
    font-weight: bold;
}

.footer {
    padding-left: 170px;
    padding-right: 170px;
    background-color: white;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo ul {
    list-style: none;
}

.logoss li {
    padding:15px;
}

.logoss {
    display: flex;
}


.logofim {
    display: flex;
}
